body{
	background-color: white;
	text-decoration: bold;
}
#menubar{
	width:100%;
	margin: 0;
	padding: 7px 6px 0;
	/* background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;*/
	background: #7887ab url(../images/gradient.png) repeat-x 0 -110px;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	color: #666;
	height:	30px;
	
}
#menubar li{
	padding: 0 0 12px;
	float:	left;
	position: relative;
	list-style: none;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	font-size: 16px
}
#menubar a{
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding: 4px 4px;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);	
}
#menubar a:hover {
	background: #000;
	color: #fff;
}


#maincontent{
	min-height: 700px;
	background: #4ab9b9 url(../images/gradient.png) repeat-x 0 -110px;
	margin-left: 50px;
	margin-right: 50px;
	
}
#leftdiv{
	float: left;
	width: 68%;
}
.right{
	float: right;
	background: #4ab9b9 url(../images/gradient.png) repeat-x 0 -110px;
	color: white;
}

#rightdiv{
	float: right;
}
.special{
	background: #4ab9b9 url(../images/gradient.png) repeat-x 0 -110px;
	
}