#banner{

}


body{
	background-color: white;
	text-decoration: bold;
}
#menubar{
	width:100%;
	margin: 0;
	padding: 7px 6px 0;
	/* background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;*/
	background: #7887ab url(../images/gradient.png) repeat-x 0 -110px;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	color: #666;
	height:	30px;
	
}
#menubar li{
	padding: 0 0 12px;
	float:	left;
	position: relative;
	list-style: none;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	font-size: 16px
}
#menubar a{
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding: 4px 4px;
	background: #000;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);	
}
#menubar a:hover {
	background: #ccc;
	color: #fff;
}




#maincontent{
	min-height: 700px;
	background: #4ab9b9 url(../images/gradient.png) repeat-x 0 -110px;
	margin-left: 50px;
	margin-right: 50px;
	width: 120%;
	
}
.left{
	float: left;
	background: #aaa url(../images/gradient.png) repeat-x 0 -110px;
	width: 60%;
}
.center{
	margin-left: 15%;
	background: #aaa url(../images/gradient.png) repeat-x 0 -110px;
	width: 70%;
}
.right{
	float: right;
	width: 38%;
	background: #aaa url(../images/gradient.png) repeat-x 0 -110px;
	color: black;
}

#rightdiv{
	float: right;
	
}
.markout{
	background: #ccd url(../images/gradient.png) repeat-x 0 -110px	
}
#publications{
	float: left;
	margin-left: 0px;
}
#publications fieldset{
	margin-left: 0px;
}
.footer{
	background: #7887ab;
	width: 100%;
}
.success{
	background: green;
}
.error{
	color: red;
	background: #aaa;
}
.warning{
	background: #ff7f00;
}
.special{
	background:  #aaa url(../images/gradient.png) repeat-x 0 -110px;
}
.special1{
	background:  yellow;
}
select,input[type="text"],input[type="password"],input[type="search"],input[type="number"]{
  width:  100%;
  padding:  5px 15px;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
tbody tr:nth-child(odd){
	background: #aaa;
}
input[type="text"]:focus{
  background-color: #fff;
}
input[type="submit"]{
  color:  white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  align:  right;
  background:	blue;
}