<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>utpsolver</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>AddCohort</servlet-name>
  	<servlet-class>utpsolver.AddCohortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddCohort</servlet-name>
  	<url-pattern>/AddCohortServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddModule</servlet-name>
  	<servlet-class>utpsolver.AddModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddModule</servlet-name>
  	<url-pattern>/AddModuleServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>AddLecturer</servlet-name>
  	<servlet-class>utpsolver.AddLecturerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddLecturer</servlet-name>
  	<url-pattern>/AddLecturerServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>AllocateModule</servlet-name>
  	<servlet-class>utpsolver.AllocateModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AllocateModule</servlet-name>
  	<url-pattern>/AllocateModuleServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>ModuleCohortServlet</servlet-name>
  	<servlet-class>utpsolver.ModuleCohortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ModuleCohortServlet</servlet-name>
  	<url-pattern>/ModuleCohortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddRoomServlet</servlet-name>
  	<servlet-class>utpsolver.AddRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddRoomServlet</servlet-name>
  	<url-pattern>/AddRoomServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RunGA</servlet-name>
  	<servlet-class>utpsolver.RunGA</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RunGA</servlet-name>
  	<url-pattern>/RunGA</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LecturerAvailabilityServlet</servlet-name>
  	<servlet-class>utpsolver.LecturerAvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LecturerAvailabilityServlet</servlet-name>
  	<url-pattern>/LecturerAvailabilityServlet</url-pattern>
  </servlet-mapping>
  
</web-app>